<!DOCTYPE html>
{% load staticfiles %}
{% load paginate_tags %}
{% paginate blogposts 2 %}
<!--# 首先必须通过load模板标签载入分页标签-->
<!--把文章列表传给paginate函数，每页分2个，context上下文则自动被传入，无需显示指定-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Bootstrap Free Blog Template</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="{% static 'blog/css/bootstrap.css' %}"rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="{% static 'blog/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet" />

</head>
<style>
	body{
		position: relative;
		z-index: 0;
	}
	#cas{
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: -10;
	}
</style>
<body>

    <section class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img src="{% static 'blog/img/person_image.jpg' %}" class="img-circle img-responsive" />
                </div>
                <div class="col-md-5 text-center">
                    <h1><strong>ZYuan's Blog </strong></h1>
                </div>
                <div class="col-md-5">
                    <h3>WHO M I :</h3>
                    I am a 22 years old guy who loves bloggging and designing .
                    <br>
                    <a href="http://blog.csdn.net/weixin_36571185" target="_blank" title="CSDN"><i><strong>CSDN博客</strong></i></a>
                    <br>
                    <i><strong>Github：</strong></i>
                </div>
            </div>
        </div>
    </section>
    <!--HOME SECTION END-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                	<!--文章 开始  在此插入For循环|slice:":3"-->
                	{% for blogpost in article_list  %}
                    <div class="blog-main">
                        <div class="heading-blog">
                           <!--这里用来显示标题    点击阅读更多-->
                           <a href="{{ blogpost.get_absolute_url }}">{{ blogpost.title }}</a>
                        </div>
                         <a href="{{ blogpost.get_absolute_url }}">
                        <img src="{{blogpost.index_image.url}}"  width="80%" height="5%"   class="img-responsive img-rounded" />

                             </a>
                        <div class="blog-info">
                        	<!--日期 -->
                            <span class="label label-primary">Posted on {{ blogpost.pub_date|date:'M' }} {{ blogpost.pub_date|date:"dS" }} {{ blogpost.pub_date.year }}</span>
                            <span class="label label-success">In Technology</span>
                            <span class="label label-danger">By ZYuan</span>
                        </div>
                        <div class="blog-txt">
                        	<!--显示摘要-->
                         	{{ blogpost.excerpt }}
                        </div>
                    </div>
                    <!--BLOG ONE END -->
                    {% endfor %}
					<!--文章结束  再此结束for 循环-->

                </div>
                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Main Categories</strong>
                        </li>
                        <!--循环展示列表名称-->
                        {% for category in categorys %}
                        <li class="list-group-item">
                            <span class="badge">10</span>
                            {{category.name}}
                        </li>
                        {% endfor %}
                    </ul>
                    <br />

                    <ul class="list-group">
                        <li class="list-group-item">Advrtisements
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <img src="{% static 'blog/img/ad1.jpg' %}" class="img-responsive" />
                            </a>
                            <br />
                            <a href="#">
                                <img src="{% static 'blog/img/ad2.jpg' %}" class="img-responsive" />
                            </a>
                        </li>
                    </ul>

                    <br />
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Subscribe For Updates</h3>
                            </div>
                            <div class="panel-body">
                                <input type="text" class="form-control" placeholder="Your Email" />
                                <hr />
                                <a href="#" class="btn btn-info btn-sm btn-block">subscribe</a>
                            </div>
                        </div>
                    </div>
               </div>

            </div>
        </div>
    </section>
    <!--列表结束-->
    {% include 'blog/pagination.html' %}
    <canvas id="cas"> </canvas>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center set-foot">
                                    &copy 2014 jhon alexan |  后台管理 <a href="/admin" target="_blank" title="后台管理">后台管理</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>

            </div>
        </div>
    </div>

</body>
<script>
        var canvas = document.getElementById("cas");
        var ctx = canvas.getContext("2d");
        resize();
        window.onresize = resize;
        function resize() {
            canvas.width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
            canvas.height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
        }
        var RAF = (function () {
            return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function (callback) {
                window.setTimeout(callback, 1000 / 60);
            };
        })();
        // 鼠标活动时，获取鼠标坐标
        var warea = { x: null, y: null, max: 20000 };
        window.onmousemove = function (e) {
            e = e || window.event;
            warea.x = e.clientX;
            warea.y = e.clientY;
        };
        window.onmouseout = function (e) {
            warea.x = null;
            warea.y = null;
        };
        // 添加粒子
        // x，y为粒子坐标，xa, ya为粒子xy轴加速度，max为连线的最大距离
        var dots = [];
        for (var i = 0; i < 300; i++) {
            var x = Math.random() * canvas.width;
            var y = Math.random() * canvas.height;
            var xa = Math.random() * 2 - 1;
            var ya = Math.random() * 2 - 1;
            dots.push({
                x: x,
                y: y,
                xa: xa,
                ya: ya,
                max: 6000
            })
        }
        // 延迟100秒开始执行动画，如果立即执行有时位置计算会出错
        setTimeout(function () {
            animate();
        }, 100);
        // 每一帧循环的逻辑
        function animate() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            // 将鼠标坐标添加进去，产生一个用于比对距离的点数组
            var ndots = [warea].concat(dots);
            dots.forEach(function (dot) {
                // 粒子位移
                dot.x += dot.xa;
                dot.y += dot.ya;
                // 遇到边界将加速度反向
                dot.xa *= (dot.x > canvas.width || dot.x < 0) ? -1 : 1;
                dot.ya *= (dot.y > canvas.height || dot.y < 0) ? -1 : 1;
                // 绘制点
                ctx.fillRect(dot.x - 0.5, dot.y - 0.5, 1, 1);
                // 循环比对粒子间的距离
                for (var i = 0; i < ndots.length; i++) {
                    var d2 = ndots[i];
                    if (dot === d2 || d2.x === null || d2.y === null) continue;
                    var xc = dot.x - d2.x;
                    var yc = dot.y - d2.y;
                    // 两个粒子之间的距离
                    var dis = xc * xc + yc * yc;
                    // 距离比
                    var ratio;
                    // 如果两个粒子之间的距离小于粒子对象的max值，则在两个粒子间画线
                    if (dis < d2.max) {
                        // 如果是鼠标，则让粒子向鼠标的位置移动
                        if (d2 === warea && dis > (d2.max / 2)) {
                            dot.x -= xc * 0.03;
                            dot.y -= yc * 0.03;
                        }
                        // 计算距离比
                        ratio = (d2.max - dis) / d2.max;
                        // 画线
                        ctx.beginPath();
                        ctx.lineWidth = ratio / 2;
                        ctx.strokeStyle = 'rgba(a,b,c,' + (ratio + 0.2) + ')';
                        ctx.lineWidth = 0.5;
                        ctx.moveTo(dot.x, dot.y);
                        ctx.lineTo(d2.x, d2.y);
                        ctx.stroke();
                    }
                }
                // 将已经计算过的粒子从数组中删除
                ndots.splice(ndots.indexOf(dot), 1);
            });
            RAF(animate);
        }
</script>
</html>
